img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}


#puzzle {
  display: flex;
  background-color: #114b5f;
  text-align: center;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

#container {
  width: 500px;
  height: 500px;
  background: #e4fde1;
  margin: 10px auto;
}

#puzzleUL {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  font-family: 'Audiowide';
  color: #E4FDE1;
}

#puzzleUL li {
  background: #456990;
  width: 30%;
  height: 150px;
  border: 1px solid #028090;
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
}

.empty {
  background: #DAD4EF;
  border: 2px solid #114B5F;
}